@import 'normalize';
$font-stack: Helvetica, sans-serif;
$primary-color: #333;
body {
	font: 100% $font-stack;
	color: $primary-color;
}
div{
    margin: 18px;
    p {
       margin: 1em auto;
       width:50
    }
}